<!--left side-->
<div class="container-fluid" style="height: 100%; overflow: hidden;">
  <div class="span12 " style="height: 100%; overflow: hidden;">
    
    <div class="row-fluid" id="">
      <div class="span9">
        <ul class="nav nav-tabs">
          <li class="active span5 text-center" id="by-search"><a
            href="#">Home</a></li>
          <li class="span5 text-center" id="by-type"><a href="#">123</a></li>
        </ul>
      </div>
      <div class="span3">
        <a class="btn btn-primary" href="#/add/" id="add-button"> new </a>
      </div>
    </div>

    <div class="row-fluid" id="search-div">
      <div class="input-append span12">
        <input class="span9" type="text" placeholder="name or code">
        <button class="btn" type="button">search!</button>
      </div>
    </div>

    <div class="row-fluid hide" id="mainType-div">
      <div class="span12">
        <ul class="nav nav-tabs">
          <li class="active span2 text-center"><a href="#">Home</a></li>
          <li class="span2 text-center"><a href="#">123</a></li>
          <li class="span2 text-center"><a href="#">123</a></li>
          <li class="span2 text-center"><a href="#">123</a></li>
          <li class="span2 text-center"><a href="#">123</a></li>
          <li class="span2 text-center"><a href="#">123</a></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid hide" id="subType-div">
      <div class="span4">
        <p class="navbar-text">type1</p>
      </div>
      <div class="span4">
        <p class="navbar-text">type2</p>
      </div>
      <div class="span4">
        <p class="navbar-text">type3</p>
      </div>
    </div>


    <div class="row-fluid products" data-ng-repeat="product in products" id="{{product.code}}">
      <div class="span2">
        <img "media-object" data-ng-src="{{product.icon}}">
      </div>
      <div class="span3">
        <p>
          {{product.code}}
        </p>
      </div>
      <div class="span2">
        <a ng-src="/detail/{{product.code}}">{{product.name}}</a>
      </div>
      <div class="span2">
        <p>
          {{product.type}}
        </p>
      </div>
    </div>
  </div>
</div>
