<div class="hero-unit">
    <form class="form-horizontal" ng-submit="addProduct()" role="form">
      <!--
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-8">
          <label class="control-label col-lg-8" for="inputCode">添加商品</label>
        </div>
      </div>
      -->
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputCode">条形码</label>
        <div class="input-group col-lg-8">
          <span class="input-group-btn">
            <button class="btn" type="button" ng-click='privateProduct()' disabled="{{disabled}}">自建商品</button>
          </span>
          <input type="text" class="form-control" id="inputCode" placeholder="product code" ng-model="code" ng-change="change()">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputName">商品名称</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="inputName" placeholder="product name" ng-model="name" disabled="{{disabled}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2">商品类型</label>

        <div class="col-lg-8 btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="饮料" disabled="{{disabled}}">饮料
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="食品" disabled="{{disabled}}">食品
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="日化" disabled="{{disabled}}">日化
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="调味品" disabled="{{disabled}}">调味品
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="香烟" disabled="{{disabled}}">香烟
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="自建商品" disabled="{{disabled}}">自建商品
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-model="type" value="其他" disabled="{{disabled}}">其他
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputCost">进货价</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="inputCost" placeholder="product cost" ng-model="cost">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputPrice">销售价</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="inputPrice" placeholder="product sellingPrice" ng-model="sellingPrice">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputAmount">库存</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="inputAmount" placeholder="product amount" ng-model="amount">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputAddr">产地</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="inputAddr" placeholder="product addr" ng-model="addr" disabled="{{disabled}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2" for="inputSpec">商品描述</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="inputSpec" placeholder="product spec" ng-model="spec" disabled="{{disabled}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-lg-8">
          <button type="submit" class="btn">{{actionName}}</button>
          <button type="button" class="btn" ng-click='back()'>返回</button>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-lg-8 alert fade" id="msg-div">
        </div>
      </div>
    </form>
</div>
