<div class="hero-unit">
    <div id="msg-div" class="alert fade"></div>
    <p>modify item:<br>
    <form ng-submit="save()">
    	<input type="text" ng-model="dcode" size="30">
        <input type="text" ng-model="dname" size="30">
        <input type="text" ng-model="dtype" size="30">
        <input type="text" ng-model="daddr" size="30">
        <input type="text" ng-model="dspec" size="30">
        <button class="btn-primary" type="submit"><i class="icon-plus icon-white"></i></button>
        <a class="btn btn-primary" href="#/wlist/"> back </a>
    </form>
    </p>
</div>