<div class="row full-height">
  <input type="hidden" ng-model="byWhat" ng-init="byWhat='bySearch';">
  <input type="hidden" ng-model="selectedType">
  <input type="hidden" ng-model="selectedProduct">
  <div class="col-lg-12 full-height" ng-switch on="byWhat">
    <!-- product list -->
    

      <div class="col-lg-9 full-height products-container" ng-switch-when="bySearch">
        <div class="row search-container">
          <h5>商品</h5>
          <hr>
          <form class="col-lg-12 navbar-form search-form">
            <input type="text" class="form-control search" ng-model="searchText" ng-change="change()" placeholder="按 条形码 或 商品名称/拼音首写字母 查找">
              <div class="glyphicon glyphicon-barcode"></div>
            </input>
            <input type="button" class="btn btn-info settle glyphicon pull-right" ng-click='byType()' value="目录"></input>
          </form>
        </div>
        <hr>
        <div class="row product-list">
          <div class="row product-row">
            <div class="col-lg-2" ng-repeat="product in sproducts">
              <div class="thumbnail" ng-click='detail(product.code)' ng-class="{selected:product.code==selectedProduct}">
                <img ng-src="{{product.img}}" class="img-responsive" alt="{{product.name}}">
                <div class="caption">
                  <div class="name">{{product.name}}</div>
                  <div class="spec">{{product.spec}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9 full-height products-container" ng-switch-when="byType">
        <div class="row search-container">
          <h5>商品</h5>
          <hr>
          <ul class="nav nav-tabs">
            <li data-ng-repeat="type in types" ng-class="{active:selectedType==type}" ng-click='getType(type)'><a>{{type}}</a></li>
            <li ng-class="{active:selectedType=='全部'}" ng-click="getType('全部')"><a>全部</a></li>
          </ul>
          <input type="button" class="btn btn-info settle glyphicon pull-right by-search" ng-click='bySearch()' value="搜索"></input>
        </div>
        <hr>
        <div class="row product-list">
          <div class="row product-row">
            <div class="col-lg-2" ng-repeat="product in products">
              <div class="thumbnail" ng-click='detail(product.code)' ng-class="{selected:product.code==selectedProduct}">
                <img ng-src="{{product.img}}" class="img-responsive" alt="{{product.name}}">
                <div class="caption">
                  <div class="name">{{product.name}}</div>
                  <div class="spec">{{product.spec}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- /product list -->

    <!-- product detail -->
    <div class="col-lg-3 full-height op-panel pull-right">
      <!-- detail -->
      <div class="row product-detail-container">
        <h5>商品详细</h5>
        <hr>
        <div class="thumbnail">
          <img ng-src="{{item.img}}" class="img-responsive" alt="{{item.name}}">
          <div class="caption">
            <div class="span3">
              <span class="label">名称</span>
              <span class="property-span">{{item.name}}</span>
            </div>
            <div class="span3">
              <span class="label">类型</span>
              <span class="property-span">{{item.type}}</span>
            </div>
            <div class="span3">
              <span class="label">描述</span>
              <span class="property-span">{{item.spec}}</span>
            </div>
            <div class="span3">
              <span class="label">产地</span>
              <span class="property-span">{{item.addr}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row total product-sub-total-container" style="height:40%;">
        <hr>
          <div class="span3">
              <span class="">库存</span>
              <input type="text" ng-model="item.amount">
          </div>
          <div class="span3">
              <span class="">进货价</span>
              <input type="text" ng-model="item.cost">
          </div>
          <div class="span3">
              <span class="">销售价</span>
              <input type="text" ng-model="item.sellingPrice">
          </div>
          <div class="span3">
              <button type="button" class="btn btn-info btn-large settle glyphicon glyphicon-plus-sign" ng-click='save()'> 修改</button>
              <button type="button" class="btn btn-success btn-large settle glyphicon glyphicon-minus-sign" ng-click='delete()'> 删除</button>
          </div>
      </div>
      <!-- /sub total -->
      <!-- buttons -->
      <div class="row detail-buttons" style="height:12%;">
        <div class="buttons">
        <div class="button">
          <button type="button" class="btn btn-info btn-large settle glyphicon glyphicon-plus-sign" ng-click='new()'> 增加</button>
          <button type="button" class="btn btn-success btn-large settle glyphicon glyphicon-minus-sign" ng-click='import()'> 导入</button>
        </div>
        </div>
      </div>
      <!-- /buttons -->
    </div>
    <!-- /product detail -->
  </div>
</div>

